<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/CustomerProducts</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.customer.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>controller.sale.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormsController</servlet-name>
        <servlet-class>controller.sale.FormsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsController</servlet-name>
        <servlet-class>controller.Groups.BrandsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>controller.ProductsController.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.Common.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAddressController</servlet-name>
        <servlet-class>controller.customer.AddUserAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserAddress</servlet-name>
        <servlet-class>controller.Common.DeleteUserAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfile</servlet-name>
        <servlet-class>controller.Common.EditUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>controller.Common.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.Common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAddressController</servlet-name>
        <servlet-class>controller.Common.EditAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>controller.customer.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSelectCartItem</servlet-name>
        <servlet-class>controller.customer.RemoveSelectCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCartItem</servlet-name>
        <servlet-class>controller.customer.SelectCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantityCartNumber</servlet-name>
        <servlet-class>controller.customer.AddQuantityCartNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReduceQuantityCartItem</servlet-name>
        <servlet-class>controller.customer.ReduceQuantityCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.customer.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>controller.customer.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>controller.customer.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.Common.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderController</servlet-name>
        <servlet-class>controller.Common.EditOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.customer.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.Common.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCustomer</servlet-name>
        <servlet-class>controller.ProductsController.DetailCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormsController</servlet-name>
        <url-pattern>/Forms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditOrderStatusController</servlet-name>
        <servlet-class>controller.shipper.EditOrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupController</servlet-name>
        <servlet-class>model.Admin.CreateGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsController</servlet-name>
        <servlet-class>controller.Groups.GroupsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialsController</servlet-name>
        <servlet-class>controller.Materials.MaterialsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorController</servlet-name>
        <servlet-class>controller.Colors.ColorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryController</servlet-name>
        <servlet-class>controller.sale.LoadCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>controller.sale.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>controller.sale.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryController</servlet-name>
        <servlet-class>controller.sale.EditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditCategory</servlet-name>
        <servlet-class>controller.sale.LoadEditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.customer.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasterController</servlet-name>
        <servlet-class>controller.master.MasterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistrictServlet</servlet-name>
        <servlet-class>controller.customer.DistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WardServlet</servlet-name>
        <servlet-class>controller.customer.WardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>controller.customer.VerifyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.Common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.Common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPasswordController</servlet-name>
        <servlet-class>controller.Common.SetNewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.Common.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialsController</servlet-name>
        <url-pattern>/materials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorController</servlet-name>
        <url-pattern>/colors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderStatusController</servlet-name>
        <url-pattern>/EditOrderStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupController</servlet-name>
        <url-pattern>/CreateGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsController</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryController</servlet-name>
        <url-pattern>/loadcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryController</servlet-name>
        <url-pattern>/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditCategory</servlet-name>
        <url-pattern>/loadedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasterController</servlet-name>
        <url-pattern>/master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistrictServlet</servlet-name>
        <url-pattern>/DistrictServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WardServlet</servlet-name>
        <url-pattern>/WardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPasswordController</servlet-name>
        <url-pattern>/SetNewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsController</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAddressController</servlet-name>
        <url-pattern>/addUserAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserAddress</servlet-name>
        <url-pattern>/deleteUserAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfile</servlet-name>
        <url-pattern>/editUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/uploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAddressController</servlet-name>
        <url-pattern>/editAddressController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerProductsController</servlet-name>
        <servlet-class>controller.ProductsController.CustomerProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerProductsController</servlet-name>
        <url-pattern>/CustomerProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductsController.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productdetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SizesController</servlet-name>
        <servlet-class>controller.ProductsController.SizesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SizesController</servlet-name>
        <url-pattern>/sizes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListStaffController</servlet-name>
        <servlet-class>controller.admin.ListStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>controller.admin.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffController</servlet-name>
        <servlet-class>controller.admin.CreateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffController</servlet-name>
        <servlet-class>controller.admin.UpdateStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffController</servlet-name>
        <url-pattern>/createStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffController</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.admin.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/searchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/searchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSelectCartItem</servlet-name>
        <url-pattern>/RemoveSelectCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCartItem</servlet-name>
        <url-pattern>/SelectCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantityCartNumber</servlet-name>
        <url-pattern>/AddQuantityCartNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReduceQuantityCartItem</servlet-name>
        <url-pattern>/ReduceQuantityCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderController</servlet-name>
        <url-pattern>/EditOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCustomer</servlet-name>
        <url-pattern>/CustomerProductss</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
