USE [OSS]
GO
/****** Object:  Table [dbo].[account_active_tokens]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_active_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [nvarchar](50) NULL,
	[token] [varchar](255) NULL,
	[expiration_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrative_regions]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrative_regions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[name_en] [nvarchar](255) NOT NULL,
	[code_name] [nvarchar](255) NULL,
	[code_name_en] [nvarchar](255) NULL,
 CONSTRAINT [administrative_regions_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrative_units]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrative_units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[full_name_en] [nvarchar](255) NULL,
	[short_name] [nvarchar](255) NULL,
	[short_name_en] [nvarchar](255) NULL,
	[code_name] [nvarchar](255) NULL,
	[code_name_en] [nvarchar](255) NULL,
 CONSTRAINT [administrative_units_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[product_detail_id] [int] NULL,
	[quantity] [int] NULL,
	[is_selected] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[color_code] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[name_en] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[full_name_en] [nvarchar](255) NULL,
	[code_name] [nvarchar](255) NULL,
	[province_code] [nvarchar](20) NULL,
	[administrative_unit_id] [int] NULL,
 CONSTRAINT [districts_pkey] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_detail_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 3/27/2024 11:43:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[id] [int] NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [varchar](255) NULL,
	[customer_id] [int] NULL,
	[oder_date] [datetime] NULL,
	[order_status] [int] NULL,
	[delivery_address_id] [int] NULL,
	[delivery_date] [datetime] NULL,
	[payment_method] [int] NULL,
	[note] [nvarchar](500) NULL,
	[shipping_company_id] [int] NULL,
	[shipping_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [nvarchar](50) NULL,
	[token] [varchar](255) NULL,
	[expiration_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_details]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[color_id] [int] NULL,
	[size_id] [int] NULL,
	[inventory_number] [int] NULL,
	[image_url_1] [nvarchar](500) NULL,
	[image_url_2] [nvarchar](500) NULL,
	[image_url_3] [nvarchar](500) NULL,
	[image_url_4] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[edited_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [int] NULL,
	[category_id] [int] NULL,
	[form_id] [int] NULL,
	[brand_id] [int] NULL,
	[material_id] [int] NULL,
	[group_id] [int] NULL,
	[created_at] [datetime] NULL,
	[edited_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provinces]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provinces](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[name_en] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[full_name_en] [nvarchar](255) NULL,
	[code_name] [nvarchar](255) NULL,
	[administrative_unit_id] [int] NULL,
	[administrative_region_id] [int] NULL,
 CONSTRAINT [provinces_pkey] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_companies]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_addresses]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[province_code] [nvarchar](20) NOT NULL,
	[district_code] [nvarchar](20) NOT NULL,
	[ward_code] [nvarchar](20) NOT NULL,
	[address] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[is_default] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_contracts]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[salary] [int] NULL,
	[start_date] [datetime] NULL,
	[slot] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[is_deleted] [tinyint] NOT NULL,
	[role] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[image_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wards]    Script Date: 3/27/2024 11:43:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wards](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[name_en] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[full_name_en] [nvarchar](255) NULL,
	[code_name] [nvarchar](255) NULL,
	[district_code] [nvarchar](20) NULL,
	[administrative_unit_id] [int] NULL,
 CONSTRAINT [wards_pkey] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [created_at], [deleted_at], [updated_at]) VALUES (2, N'giày đá bóng', N'Giày đá bóng là vật dụng không thể thiếu của các cầu thủ, cho dù đang thi đấu chuyên nghiệp hay phong trào. Ở thuở bình minh của môn thể thao vua, người ta thường sử dụng giày da thật, khá dày và nặng. Cho đến nay, giày dùng trong bóng đá là một thế giới đa dạng với rất nhiều chất liệu và công nghệ khác nhau.', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[colors] ON 

INSERT [dbo].[colors] ([id], [name], [color_code], [created_at], [deleted_at], [updated_at]) VALUES (1, N'Màu xám nâu nhạt.', N'#a49c8e', CAST(N'2024-03-27T02:26:56.070' AS DateTime), NULL, CAST(N'2024-03-27T02:47:26.683' AS DateTime))
INSERT [dbo].[colors] ([id], [name], [color_code], [created_at], [deleted_at], [updated_at]) VALUES (2, N'Màu trắng vàng nhạt.', N'#fefbef', CAST(N'2024-03-27T02:31:16.107' AS DateTime), NULL, CAST(N'2024-03-27T02:48:23.803' AS DateTime))
INSERT [dbo].[colors] ([id], [name], [color_code], [created_at], [deleted_at], [updated_at]) VALUES (3, N'Màu xanh đậm.', N'#455851', CAST(N'2024-03-27T02:35:47.757' AS DateTime), NULL, CAST(N'2024-03-27T02:49:41.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[colors] OFF
GO
SET IDENTITY_INSERT [dbo].[forms] ON 

SET IDENTITY_INSERT [dbo].[forms] OFF
GO
SET IDENTITY_INSERT [dbo].[groups] ON 

INSERT [dbo].[groups] ([id], [name], [description], [created_at], [deleted_at], [updated_at]) VALUES (1, N'Phiên bản giới hạn.', N'Phiên bản giới hạn là một phiên bản đặc biệt của sản phẩm hoặc dịch vụ được thiết kế với một số lượng hoặc tính năng cụ thể, thường có sự hạn chế về số lượng sản phẩm được sản xuất hoặc số lượng người dùng có thể sử dụng. Phiên bản này được phát hành để tạo ra sự hiếm có và độc đáo, tăng giá trị và sự quan tâm từ người tiêu dùng.', CAST(N'2024-03-27T03:20:09.773' AS DateTime), NULL, CAST(N'2024-03-27T03:25:02.897' AS DateTime))
INSERT [dbo].[groups] ([id], [name], [description], [created_at], [deleted_at], [updated_at]) VALUES (2, N'Hàng mới về.', N'Hàng mới về là những sản phẩm mới được cập nhật và đưa vào bán hàng gần đây. Đây là những sản phẩm mới từ nhà sản xuất hoặc những mặt hàng mới được nhập khẩu vào cửa hàng. Sự cập nhật hàng mới về thường mang lại sự đa dạng và lựa chọn mới cho khách hàng, từ những xu hướng mới nhất cho đến những sản phẩm tiện ích cần thiết. ', CAST(N'2024-03-27T03:23:16.257' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[groups] OFF
GO
SET IDENTITY_INSERT [dbo].[materials] ON 

SET IDENTITY_INSERT [dbo].[materials] OFF
GO
SET IDENTITY_INSERT [dbo].[product_details] ON 

INSERT [dbo].[product_details] ([id], [product_id], [color_id], [size_id], [inventory_number], [image_url_1], [image_url_2], [image_url_3], [image_url_4], [created_at], [edited_at], [deleted_at]) VALUES (1, 3, 4, 9, NULL, N'82587865-07bb-4e03-9b60-d3b322eb_752ee57e31e24725bcdbbd738946fe70.jpg', N'air-jordan-1-mid-shoes-7cdjgS.jpg', N'air-jordan-1-mid-white-shadow-55_c316b3f1f5374e4181c87ec50112b749.jpg', N'air-jordan-1-mid-white-shadow-554725-073-4.jpg', CAST(N'2024-03-27T07:33:30.620' AS DateTime), CAST(N'2024-03-27T07:55:39.750' AS DateTime), NULL)
INSERT [dbo].[product_details] ([id], [product_id], [color_id], [size_id], [inventory_number], [image_url_1], [image_url_2], [image_url_3], [image_url_4], [created_at], [edited_at], [deleted_at]) VALUES (2, 4, 4, 9, NULL, N'converse.jpg', N'converse-1970s-black-1.jpg', N'ddd2deebe54d7d6b91281256563c7e41.jpg', N'nen-mua-giay-converse-classic-hay-1970s-7.jpg', CAST(N'2024-03-27T08:06:08.190' AS DateTime), CAST(N'2024-03-27T08:09:58.173' AS DateTime), NULL)
INSERT [dbo].[product_details] ([id], [product_id], [color_id], [size_id], [inventory_number], [image_url_1], [image_url_2], [image_url_3], [image_url_4], [created_at], [edited_at], [deleted_at]) VALUES (4, 5, 8, 6, 23, N'fb8396-060_38cc6a50713c4c4886d60825f50065c4_1024x1024.jpg', N'nms06548_2a9bba5b637a4c5b8fd27885666886aa_1024x1024.jpg', N'nms06552_e0330337eedc4413a3114f81ac4c1312_1024x1024.jpg', N'nms06553_fc73ab15c0d941baa896caab45d9a983_1024x1024.jpg', CAST(N'2024-03-27T08:32:46.770' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[product_details] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[sizes] ON 

INSERT [dbo].[sizes] ([id], [name], [description], [created_at], [deleted_at], [updated_at]) VALUES (2, N'36', N'Kích thước "36" là một kích thước chuẩn được sử dụng để đo kích thước của giày hoặc dép, thường được áp dụng trong hệ thống kích thước châu Âu. Đây là một kích thước nhỏ đến vừa, thường phù hợp với chân có chiều dài khoảng 22.2 cm.Kích thước này thường được sản xuất và bán lẻ để đảm bảo rằng người mua có thể tìm thấy kích thước phù hợp và thoải mái cho đôi chân của mình.', CAST(N'2024-03-27T04:44:43.613' AS DateTime), NULL, CAST(N'2024-03-27T04:47:35.070' AS DateTime))
INSERT [dbo].[sizes] ([id], [name], [description], [created_at], [deleted_at], [updated_at]) VALUES (3, N'37', N'Kích thước "37" là một kích thước chuẩn được sử dụng để đo kích thước của giày hoặc dép, thường được áp dụng trong hệ thống kích thước châu Âu. Đây là một kích thước nhỏ đến vừa, thường phù hợp với chân có chiều dài khoảng 22.8 cm. Kích thước này thường được sản xuất và bán lẻ để đảm bảo rằng người mua có thể tìm thấy kích thước phù hợp và thoải mái cho đôi chân của mình.', CAST(N'2024-03-27T04:46:30.843' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password], [phone], [is_deleted], [role], [status], [image_url], [created_at]) VALUES (1, N'Đỗ Đức Hiếu', N'hieuddhe172149@fpt.edu.vn', N'$2a$10$jVxuslDZU65XeUULonKLMeR/cinKpwccAD5OpJSOtALWSFXNBeIJS', N'0969026257', 0, 2, 1, NULL, CAST(N'2024-03-27T02:12:08.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61642F6B1E65]    Script Date: 3/27/2024 11:43:57 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_active_tokens]  WITH CHECK ADD  CONSTRAINT [account_active_tokens_email_fkey] FOREIGN KEY([user_email])
REFERENCES [dbo].[users] ([email])
GO
ALTER TABLE [dbo].[account_active_tokens] CHECK CONSTRAINT [account_active_tokens_email_fkey]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[districts]  WITH CHECK ADD  CONSTRAINT [districts_province_code_fkey] FOREIGN KEY([province_code])
REFERENCES [dbo].[provinces] ([code])
GO
ALTER TABLE [dbo].[districts] CHECK CONSTRAINT [districts_province_code_fkey]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_details] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([delivery_address_id])
REFERENCES [dbo].[user_addresses] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([delivery_address_id])
REFERENCES [dbo].[user_addresses] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [password_reset_tokens_email_fkey] FOREIGN KEY([user_email])
REFERENCES [dbo].[users] ([email])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [password_reset_tokens_email_fkey]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [product_detail_color_id_fkey] FOREIGN KEY([color_id])
REFERENCES [dbo].[colors] ([id])
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [product_detail_color_id_fkey]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [product_detail_product_id_fkey] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [product_detail_product_id_fkey]
GO
ALTER TABLE [dbo].[product_details]  WITH CHECK ADD  CONSTRAINT [product_detail_size_id_fkey] FOREIGN KEY([size_id])
REFERENCES [dbo].[sizes] ([id])
GO
ALTER TABLE [dbo].[product_details] CHECK CONSTRAINT [product_detail_size_id_fkey]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [product_brand_id_fkey] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [product_brand_id_fkey]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [product_category_id_fkey] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [product_category_id_fkey]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [product_form_id_fkey] FOREIGN KEY([form_id])
REFERENCES [dbo].[forms] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [product_form_id_fkey]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [product_group_id_fkey] FOREIGN KEY([group_id])
REFERENCES [dbo].[groups] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [product_group_id_fkey]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [product_material_id_fkey] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [product_material_id_fkey]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [user_address_district_code_fkey] FOREIGN KEY([district_code])
REFERENCES [dbo].[districts] ([code])
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [user_address_district_code_fkey]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [user_address_province_code_fkey] FOREIGN KEY([province_code])
REFERENCES [dbo].[provinces] ([code])
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [user_address_province_code_fkey]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [user_address_ward_code_fkey] FOREIGN KEY([ward_code])
REFERENCES [dbo].[wards] ([code])
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [user_address_ward_code_fkey]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [user_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [user_fkey]
GO
ALTER TABLE [dbo].[user_contracts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wards]  WITH CHECK ADD  CONSTRAINT [wards_district_code_fkey] FOREIGN KEY([district_code])
REFERENCES [dbo].[districts] ([code])
GO
ALTER TABLE [dbo].[wards] CHECK CONSTRAINT [wards_district_code_fkey]
GO
